a {
  text-decoration: none;
}

.card {
  z-index: 1;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  float: left;
  margin-right: 20px;
  margin-top: 50px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.card.active {
  height: 490px;
}

.banner {
  z-index: 2;
  position: relative;
  margin-top: -154px;
  width: 100%;
  height: 150px;
  background-image: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RQ2Z75PQIN.jpg");
  background-size: cover;
  border-bottom: solid 1px lightgrey;


}

.banner.active {
  height: 0;

}

.photo {
  z-index: 3;
  position: relative;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 0 auto;
  background-image: url("https://filmshotfreezer.files.wordpress.com/2011/07/untitled-1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  top: 75px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.photo.active {
  top: -80px;
}

.card ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top: 87px;
  margin-bottom: 30px;
  font-size: 20px;
}

.card ul.active {
  opacity: 0;
  visibility: hidden;
}

.card i {
  font-size: 25px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 150px;
  width: 300px;
  ;
  text-align: left;
  color: #C7D0E1;
}
